<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Atendimento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Atendendo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2 *ngIf="senhaAtual">{{ senhaAtual }}</h2>
      <h2 *ngIf="!senhaAtual">Nenhuma senha sendo atendida</h2>
    </ion-card-content>
  </ion-card>
  

  <ion-button expand="full" color="success" (click)="chamarSenha()" [disabled]="disebleChamar">
    Chamar próxima senha
  </ion-button>

  <ion-button expand="full" color="warning" (click)="finalizarSenha()" [disabled]=disebleFinalizar>
    Finalizar atendimento
  </ion-button>

  <ion-list>
    <ion-list-header>
      Últimas 5 chamadas
    </ion-list-header>
    <ion-label class="label-senha-list">mais atual</ion-label>
    <ion-item class="senha" *ngFor="let senha of atendimentoService.painelChamadas.slice(0, 5)">
      {{ senha }}
    </ion-item>
    <ion-label class="label-senha-list">menos atual</ion-label>
  </ion-list>

</ion-content>
